extends base.pug

block contents 
  div#videoContainer(data-id=video._id)
    video(src="/" + video.videoUrl)
    div#videoControls 
      button#play Play 
      button#mute Mute
      input(type="range", step="0.1", min="0", max="1", value=0.5 )#volume
      div 
        span#currentTime 00:00:00
        span /
        span#totalTime
      div 
        input(type="range", step="1", min="0", value=0)#timeline
      div 
        button#fullScreen Enter Full Screen
  div 
    p=video.description
    small=video.createdAt
  div 
    small 게시자: 
      a(href=`/users/${video.owner._id}`)=video.owner.name
  if  String(video.owner._id) === loggedInUser._id
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;
  
  if loggedIn
    div.video__comments
    form.video__comment-form#commentForm
      textarea(cols="30", rows="10", placeholder="Write a nice commment...")
      button Add Comment

block scripts
  script(src="/assets/js/videoPlayer.js")
  if loggedIn
        script(src="/static/js/commentSection.js") 

  //- 4. <div data-xxx=video.id >를 js에서 div.dataset으로 불러올 수 있다.